<!DOCTYPE html><html lang="en"><head><title>shared/Gauge</title></head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"><meta name="groc-relative-root" content="../"><meta name="groc-document-path" content="shared/Gauge"><meta name="groc-project-path" content="src/shared/Gauge.js"><link rel="stylesheet" type="text/css" media="all" href="../assets/style.css"><script type="text/javascript" src="../assets/behavior.js"></script><body><div id="meta"><div class="file-path">src/shared/Gauge.js</div></div><div id="document"><div class="segment"><div class="comments "><div class="wrapper"><h1 id="jauge">Jauge</h1>
<p>Réutilisé absolument partout dans l’application…  Un parfait exemple de
composant réutilisable, du coup !</p></div></div><div class="code"><div class="wrapper"><span class="hljs-keyword">import</span> LinearProgress <span class="hljs-keyword">from</span> <span class="hljs-string">'@material-ui/core/LinearProgress'</span>

<span class="hljs-keyword">import</span> { nonNegativeInteger, positiveInteger } <span class="hljs-keyword">from</span> <span class="hljs-string">'../shared/prop-types'</span>

export default function Gauge({ max, value }) {
  return (
    &lt;LinearProgress
      style={{ height: 8 }}
      variant=<span class="hljs-string">'determinate'</span>
      value={normalize(value, max)}
    /&gt;
  )
}</div></div></div><div class="segment"><div class="comments "><div class="wrapper"><p>En définissant les valeurs par défaut dans <code>defaultProps</code> au lieu des valeurs
par défaut de la signature, on s’assure qu’elles seront bien prises en compte
avant l’exploitation des <code>propTypes</code> ci-après.</p></div></div><div class="code"><div class="wrapper">Gauge.defaultProps = {
  max: <span class="hljs-number">100</span>,
}

Gauge.propTypes = {
  max: positiveInteger,
  value: nonNegativeInteger.isRequired,
}

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">normalize</span>(<span class="hljs-params">value, max</span>) </span>{
  <span class="hljs-keyword">return</span> value * (<span class="hljs-number">100</span> / max)
}</div></div></div></div></body></html>