<!DOCTYPE html><html lang="en"><head><title>auth/TogglablePasswordField</title></head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"><meta name="groc-relative-root" content="../"><meta name="groc-document-path" content="auth/TogglablePasswordField"><meta name="groc-project-path" content="src/auth/TogglablePasswordField.js"><link rel="stylesheet" type="text/css" media="all" href="../assets/style.css"><script type="text/javascript" src="../assets/behavior.js"></script><body><div id="meta"><div class="file-path">src/auth/TogglablePasswordField.js</div></div><div id="document"><div class="segment"><div class="comments "><div class="wrapper"><h1 id="champ-de-mot-de-passe-basculable">Champ de mot de passe basculable</h1>
<p>Composant utilitaire ajoutant au champ mot de passe natif un pictogramme de
bascule de visibilité de la valeur ; c’est une UI préférable à un champ de
confirmation, par exemple, qui permet un contrôle visuel à la demande de la
saisie.</p></div></div><div class="code"><div class="wrapper"><span class="hljs-keyword">import</span> { useState } <span class="hljs-keyword">from</span> <span class="hljs-string">'react'</span>

<span class="hljs-keyword">import</span> IconButton <span class="hljs-keyword">from</span> <span class="hljs-string">'@material-ui/core/IconButton'</span>
<span class="hljs-keyword">import</span> InputAdornment <span class="hljs-keyword">from</span> <span class="hljs-string">'@material-ui/core/InputAdornment'</span>
<span class="hljs-keyword">import</span> TextField <span class="hljs-keyword">from</span> <span class="hljs-string">'@material-ui/core/TextField'</span>
<span class="hljs-keyword">import</span> Visibility <span class="hljs-keyword">from</span> <span class="hljs-string">'@material-ui/icons/Visibility'</span>
<span class="hljs-keyword">import</span> VisibilityOff <span class="hljs-keyword">from</span> <span class="hljs-string">'@material-ui/icons/VisibilityOff'</span>

export default function TogglablePasswordField(props) {
  const [visible, setVisible] = useState(false)

  const type = visible ? <span class="hljs-string">'text'</span> : <span class="hljs-string">'password'</span>
  const label = visible ? <span class="hljs-string">'Masquer le mot de passe'</span> : <span class="hljs-string">'Voir le mot de passe'</span>
  const icon = visible ? &lt;VisibilityOff /&gt; : &lt;Visibility /&gt;
  const endAdornment = (
    &lt;InputAdornment position=<span class="hljs-string">'end'</span>&gt;
      &lt;IconButton arial-label={label} onClick={toggleVisible} title={label}&gt;
        {icon}
      &lt;/IconButton&gt;
    &lt;/InputAdornment&gt;
  )

  return &lt;TextField {...props} InputProps={{ endAdornment }} type={type} /&gt;

  function toggleVisible() {
    setVisible((visible) =&gt; !visible)
  }
}

TogglablePasswordField.propTypes = TextField.propTypes</div></div></div></div></body></html>